In [10]:
#Initialize
from factfinder.calculate import Calculate
from dotenv import load_dotenv
import os
import numpy as np
import pandas as pd
import math

# pd.options.display.float_format = "{:,.18f}".format

try:
    env_path = "../.env"
    load_dotenv(dotenv_path=env_path)
except:
    print(".env file is missing ...")

calculate = Calculate(api_key=os.environ["API_KEY"], year=2019, source="acs", geography='2010_to_2020')

In [11]:
##INPUTS -- change here
pff_variable = 'lgchilep1'
geotype = 'CT20'
census_geoid_list = ['36085029105']

In [12]:
v = calculate.meta.create_variable(pff_variable)

In [13]:
df_em = calculate.calculate_e_m(pff_variable, geotype)
df_em.loc[df_em.census_geoid.isin(census_geoid_list),:]

     census_geoid pff_variable geotype          e         m
2319  36085029105    lgchilep1    CT20  14.580814  33.06895

In [14]:
df_base = calculate.calculate_e_m(v.base_variable, geotype)
df_base.loc[df_base.census_geoid.isin(census_geoid_list),:]

     census_geoid pff_variable geotype          e          m
2319  36085029105       lgchi1    CT20  21.871222  49.603424

In [16]:
(33.06895 ** 2 + (14.580814 * 49.603424 / 21.871222) ** 2)

2187.1107641135895

In [15]:
math.sqrt(33.06895 ** 2 + (14.580814 * 49.603424 / 21.871222) ** 2) / 21.871222 * 100

213.8269002202929

In [3]:
# See all digits of ratio
ratio = calculate.geo.ratio
ratio.loc[ratio.geoid_ct2020.isin(census_geoid_list), :]

    geoid_ct2010 geoid_ct2020     ratio
877  36047054300  36047054300  0.021407